<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsth.busDataOperate.Mapper.LineChangeMapper">


        
    <insert id="insertRoadChange" parameterType="com.bsth.busDataOperate.bean.LineChange">
        insert into linechange
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="RoadLine != null">RoadLine,</if>
            <if test="ChangeDate != null">ChangeDate,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="RoadLine != null">#{RoadLine},</if>
            <if test="ChangeDate != null">#{ChangeDate},</if>
         </trim>
    </insert>
	
	<select id="selectRoadChange" parameterType="com.bsth.busDataOperate.bean.LineChange" resultType="com.bsth.busDataOperate.bean.LineChange">
       select RoadLine,ChangeDate from LineChange
        <where>  
            <if test="RoadLine != null  and RoadLine != ''"> and RoadLine= #{RoadLine}</if>
            <if test="ChangeDate != null "> and ChangeDate = #{ChangeDate}</if>
        </where>
    </select>


</mapper>