<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsth.busDataOperate.Mapper.RoadLineStopMapper">
    
  
    <insert id="insertRoadLineStop" parameterType="com.bsth.busDataOperate.bean.RoadLineStop">
        insert into roadlinestop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="RoadLine != null">RoadLine,</if>
            <if test="LineStandardCode != null">LineStandardCode,</if>
            <if test="StationName != null">StationName,</if>
            <if test="LevelName != null">LevelName,</if>
            <if test="StationStandardCode != null">StationStandardCode,</if>
            <if test="UpStream != null">UpStream,</if>
            <if test="PathDirection != null">PathDirection,</if>
            <if test="LevelId != null">LevelId,</if>
            <if test="StationType != null">StationType,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="RoadLine != null">#{RoadLine.RoadLine},</if>
            <if test="LineStandardCode != null">#{LineStandardCode},</if>
            <if test="StationName != null">#{StationName},</if>
            <if test="LevelName != null">#{LevelName},</if>
            <if test="StationStandardCode != null">#{StationStandardCode.StationStandardCode},</if>
            <if test="UpStream != null">#{UpStream},</if>
            <if test="PathDirection != null">#{PathDirection},</if>
            <if test="LevelId != null">#{LevelId},</if>
            <if test="StationType != null">#{StationType},</if>
         </trim>
    </insert>

	<insert id="insertRoadLineStopHistory" parameterType="java.lang.String">
        insert into roadlinestophistory(
  	RoadLine,LineStandardCode,StationName,LevelName,StationStandardCode,UpStream,PathDirection,LevelId,StationType,updateTime)
 	select 
 	RoadLine,LineStandardCode,StationName,LevelName,StationStandardCode,UpStream,PathDirection,LevelId,StationType,now() updateTime  from roadLinestop
     where RoadLine=#{RoadLine}
    </insert>
	  <delete id="deleteRoadLineStop" parameterType="java.lang.String">
        	delete from RoadLineStop where RoadLine = #{RoadLine}
    </delete>

</mapper>